#################
## Standard
#################

.SyncArchive/
.SyncID
.SyncIgnore
.sync/
_*/
backup/
bin/
tmp/
*.tmp
*.bak
*.tar
*.tgz

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store*
